.App {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  /* You can set other common styles for the entire app here */
}

.find-home {
  background-color: black;
  color: white;
  padding: 20px;
  /* Add more styles specific to the FindHome component */
}

.invest {
  background-color: black;
  color: white;
  padding: 20px;
  /* Add more styles specific to the Invest component */
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  /* Add more styles specific to the Navbar component */
}

.navbar-menu {
  display: flex;
}

.navbar-menu-item {
  margin-right: 20px;
  cursor: pointer;
  /* Add more styles specific to the menu items */
}

.sidebar {
  position: fixed;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1;
  transition: right 0.3s;
}

.sidebar.open {
  right: 0;
}

.sidebar-toggle {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sidebar-icons a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
